body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background: url("../img/WhatsApp\ Image\ 2019-03-25\ at\ 21.15.48.jpeg");
    background-size: cover;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

.black {
    background: #004166;
}

.navbar a {
    color: white;
}

.texto {
    padding-top: 50%;
}

hr {
    border: black 1px solid;
    width: 20%
}

.white {
    border: white 1px solid;
}

.fondo {
    background: #004166;
    background-size: cover;
}

.azul {
    background: #004166;
}

.iconss {
    width: 30px
}

.nombre {
    font-family: 'Oswald', 'Bold';
}

.contactoh2 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 300%;
}

.modal-title {
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
    padding-left: 32%
}

.p {
    font-family: 'Delius', cursive;
}

.text-white {
    font-size: 400%;
}

.nombre {
    font-family: 'Rochester', cursive;
}